body {
    background-color: #cfffb0;
}

.welcomePage-container {
    width: 100%;
    height: 100vh;
    margin-top: 5%;
    text-align: center;
}

.moody-calender {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 65px;
    max-width: 350px;
    margin: 20px auto;
    background-color: whitesmoke;
    border-radius: 12px;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
