.social-auth-container {
    width: 100%;
}

.social-auth-button {
    display: flex;
    align-items: center;
    height: 65px;
    width: 70%;
    max-width: 350px;
    margin: 20px auto;
    background-color: whitesmoke;
    border-radius: 12px;
    border: none;
    font-size: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #00000066;
}

.social-auth-button h3 {
    margin-left: 10px;
}
